.button{
    -fx-background-color:  #303030;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}
.button:hover{
    -fx-background-color: #a6a6a6;
    -fx-text-fill: white;
}